@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background image */
body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./assets/translator-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.card-bg {
  background-image: url("./assets/translator-bg.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  transform: scale(1.1);
}

